html {
  height: 100%;
}

body {
  width:  800px;
  margin: 0 auto;
  Padding-top: 5px;
  height: 100%;
}

  header {
    backgrould-color: black;
    color: white;
    text-align: center;
    Padding-top
  }
